.resume {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
}

@media (max-width: 1150px) {
  .resume {
    grid-template-columns: 1.7fr 2.3fr;
  }
}
@media (max-width: 820px) {
  .resume {
    grid-template-columns: 1fr;
    padding-inline: 2rem;
  }
}
@media (max-width: 500px) {
  .resume {
    padding: 0;
  }
}
