.about-page {
  filter: grayscale(50%);

  font-size: clamp(1.15rem, 5vw, 1.7rem);
  h1 {
    font-size: clamp(2.5rem, 5vw, 4rem);
    text-align: center;
  }

  h2 {
    text-align: center;

    font-size: clamp(1.8rem, 5vw, 2.5rem);
  }
  &-links {
    span {
      cursor: pointer;
      color: var(--headers-clr);
      text-decoration: underline;
      &:hover {
        filter: sepia(100);
      }
    }
  }
}

@media (max-width: 1000px) {
  .about-page {
    padding-inline: 1rem;
  }
}
@media (max-width: 400px) {
  .about-page {
    text-align: center;
  }
}
