.socials {
  margin-top: 2rem;
  &-button {
    transition: 0.3s all linear;
    margin-bottom: 1rem;
    text-decoration: none;
    color: var(--headers-clr);
    display: flex;
    gap: 0.4rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: transparent;
    border: 2px solid var(--headers-clr);
    border-radius: 8px;
    height: 50px;
    svg {
      fill: var(--headers-clr);
    }

    &:hover {
      background-color: var(--headers-clr);
      color: var(--bg-color);
      border-color: var(--bg-color);
      svg {
        fill: var(--bg-color);
      }
    }
  }
}
