.header {
  padding: 0.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  svg {
    width: 3rem;
  }
  &-button {
    transition: 120ms linear;
    cursor: pointer;
    border-radius: 8px;
    padding: 0.5rem;
    background-color: inherit;
    border: none;
    height: 100%;
    &:hover {
      img {
        color: var(--headers-clr);
        transform: scale(1.05);
      }
    }
    &-icon {
      transition: all 120ms linear;
      color: #fff;
      height: 1.8rem;
    }
  }
  &-home {
    cursor: pointer;
    transition: 0.2s all;
    filter: grayscale(50%);
    color: var(--headers-clr);
    font-size: 1.5rem;
    &:hover {
      filter: none;
      transform: scale(1.05);
    }
  }
}
