.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  &-icon {
    cursor: pointer;
    transition: all 120ms linear;
    height: 1.8rem;
    &:hover {
      color: var(--headers-clr);
      transform: scale(1.05);
    }
  }

  &-home {
    cursor: pointer;
    transition: 0.2s all;
    filter: grayscale(50%);
    color: var(--headers-clr);
    font-size: 1.5rem;
    &:hover {
      filter: none;
      transform: scale(1.05);
    }
  }
}
