.main {
  display: grid;
  grid-template-areas:
    "about about resume projects"
    "skills skills skills skills";

  gap: 1.5rem;

  &-about {
    grid-area: about;
  }
  &-resume {
    grid-area: resume;
  }
  &-projects {
    grid-area: projects;
  }
  &-skills {
    grid-area: skills;
  }
}

@media (max-width: 1200px) {
  .main {
    grid-template-areas:
      "about about about about"
      "resume resume projects projects"
      "skills skills skills skills";
  }
}
@media (max-width: 515px) {
  .main {
    grid-template-areas:
      "about"
      "resume"
      "projects"
      "skills";
    #wave {
      display: none;
    }
  }
}
